<template>
	<v-data-table
		:headers="headers"
		:items="items"
		sort-by=""
		class="elevation-1"
	>
		<template v-slot:top>
			<v-toolbar flat color="white">
				<v-toolbar-title>Product</v-toolbar-title>
				<v-divider class="mx-4" inset vertical></v-divider>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px" id="dialog-card">
					<template v-slot:activator="{ on }">
						<v-btn id="new-item-button" color="primary" dark class="mb-2" v-on="on"
							>New Item</v-btn
						>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline"> {{ formTitle }} </span>
						</v-card-title>

						<v-card-text>
							<v-container>
								<v-col>
									<v-row cols="12" sm="6" md="4">
										<v-text-field
											v-model="editedItem.name"
											label="product name"
											id="product-name-field"
										></v-text-field>
									</v-row>
									<v-row cols="12" sm="6" md="4">
										<v-text-field
											v-model="editedItem.price"
											label="price"
											id="product-price-field"
										></v-text-field>
									</v-row>
									<v-row cols="12" sm="6" md="4">
										<v-text-field
											v-model="editedItem.desc"
											label="description"
											id="product-description-field"
										></v-text-field>
									</v-row>
									<v-row cols="12" sm="6" md="4">
										<tag
											v-bind:editedItem="editedItem.tags"
											id="product-tag-field"
										/>
									</v-row>
								</v-col>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="blue darken-1" text @click="close" id="close-button"
								>Cancel</v-btn
							>
							<v-btn color="blue darken-1" text @click="save" id="save-button"
								>Save</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
		</template>
		<template v-slot:item.actions="{ item }">
			<v-icon small class="mr-2" @click="editItem(item)" v-bind:id="'editItem-'+item.product_id"> 
				mdi-pencil
			</v-icon>
			<v-icon small @click="deleteItem(item)" v-bind:id="'deleteItem-'+item.product_id">
				mdi-delete
			</v-icon> 
		</template>
	</v-data-table>
</template>

<script>
import axios from "axios";
export default {
	name: "DashboardDataTables",
	formTitle: "Add New Product",
	watch: {
		dialog(val) {
			val || this.close();
		},
	},
	components: {
		tag: () => import("../dashboard/tag"),
	},
	data: () => ({
		storeList: [],
		selectedStoreId: {},
		dialog: false,
		auth: {
			headers: {
				Authorization: "Bearer " + localStorage.getItem("access_token"),
				"Content-Type": "text/plain",
			},
		},
		headers: [
			{ text: "Name", value: "name" },
			{ text: "Price", value: "price" },
			{ text: "Tag", value: "tags", sortable: false },
			{ text: "Description", value: "desc", sortable: false },
			{ text: "Actions", value: "actions", sortable: false },
		],
		editedIndex: -1,
		editedItem: {
			product_id: "",
			name: "",
			price: 0,
			desc: "",
			tags: [],
		},
		defaultItem: {
			product_id: "",
			name: "",
			price: 0,
			desc: "",
			tags: [],
		},
		items: [],
		search: undefined,
	}),
	computed: {
		formTitle() {
			return this.editedIndex === -1 ? "New Item" : "Edit Item";
		},
	},
	methods: {
		test() {
			console.log(this.editedItem);
		},
		editItem(item) {
			this.editedIndex = this.items.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialog = true;
		},

		deleteItem(item) {
			confirm("Are you sure you want to delete " + item.name) &&
				this.deleteProduct(item.product_id);
		},

		close() {
			this.dialog = false;
			setTimeout(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			}, 300);
			this.getProductList();
		},

		save() {
			if (this.editedIndex > -1) {
				this.updateProductById();
			} else {
				this.createProduct();
			}
			this.close();
		},
		getProductList: function() {
			axios
				.get("https://golem.company/api/v1/product", {
					headers: this.auth.headers,
				})
				.then((res) => {
					this.items = [];
					for (var i in res.data.result) {
						this.items.push(res.data.result[i]);
					}
				})
				.catch((err) => {
					console.log(err.response);
				});
		},

		getProductItemById: function(id) {
			axios
				.get("https://golem.company/api/v1/product/" + id, {
					headers: this.auth.headers,
				})
				.then((res) => {
					this.editItem(res.data.result);
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		updateProductById: function() {
			axios
				.put(
					"https://golem.company/api/v1/product/" +
						this.editedItem.product_id,
					{
						name: this.editedItem.name,
						tags: this.editedItem.tags,
						price: parseInt(this.editedItem.price),
						desc: this.editedItem.desc,
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
						},
					}
				)
				.then(() => {
					this.getProductList();
				})
				.catch((error) => {
					if (error.response && error.response.status === 409) {
						alert(
							"this item name: " +
								this.editedItem.name +
								" is already exist."
						);
					}
				});
		},
		createProduct: function() {
			axios
				.post(
					"https://golem.company/api/v1/product",
					{
						name: this.editedItem.name,
						tags: this.editedItem.tags,
						price: parseInt(this.editedItem.price),
						desc: this.editedItem.desc,
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
						},
					}
				)
				.then(() => {
					this.getProductList();
				});
		},
		deleteProduct: function(id) {
			axios
				.delete("https://golem.company/api/v1/product/" + id, {
					headers: {
						Authorization:
							"Bearer " + localStorage.getItem("access_token"),
					},
				})
				.then(() => {
					this.getProductList();
				});
		},
	},
	mounted() {
		this.getProductList();
	},
};
</script>
