<template>
	<div>
		<v-col class=" pt-2" cols="12" sm="6">
			<v-select
				:items="storeList"
				item-text="name"
				item-value="store_id"
				label="store list"
				v-model="selectedStore"
				id="store-list"
				outlined
				permanent
				@change="getSelectedItemStore()"
			>
				<template v-slot:item="{ item, attrs, on }">
					<v-list-item
						v-bind="attrs"
						v-on="on"
						:id="'store_id_' + item.store_id"
					>
						<v-list-item-content>
							<v-list-item-title
								:id="attrs['aria-labelledby']"
								v-text="item.name"
							></v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</template>
			</v-select>
			<v-spacer></v-spacer>
			<v-btn
				color="primary"
				class="ma-2"
				dark
				@click="dialogNewStore = true"
				id="new-store-button"
			>
				New Store
			</v-btn>
			<v-btn
				color="primary"
				class="ma-2"
				@click="dialogEditStore = true"
				:disabled="!isSelectedStore"
				id="edit-store-button"
			>
				Edit Store
			</v-btn>

			<v-btn
				color="primary"
				class="ma-2"
				@click="dialogStoreToken = true"
				:disabled="!isSelectedStore"
				id="store-token-button"
			>
				Store Info
			</v-btn>

			<v-btn
				color="primary"
				class="ma-2"
				@click="dialogAddItem = true"
				:disabled="!isSelectedStore"
				id="add-item-button"
			>
				Add Item
			</v-btn>
		</v-col>

		<v-dialog v-model="dialogNewStore" max-width="500px" persistent>
			<v-card>
				<v-card-title>
					Create New Store
				</v-card-title>
				<v-card-text>
					<v-container>
						<v-col>
							<v-row cols="12" sm="6" md="4">
								<v-text-field
									v-model="editedStore.name"
									label="store name"
									id="store-name-field"
								></v-text-field>
							</v-row>
							<v-row cols="12" sm="6" md="4">
								<v-text-field
									v-model="editedStore.desc"
									label="description"
									id="store-description-field"
								></v-text-field>
							</v-row>
						</v-col>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						color="blue darken-1"
						text
						@click="close"
						id="close-button"
						>Cancel</v-btn
					>
					<v-btn
						color="blue darken-1"
						text
						@click="save"
						id="save-button"
						>Save</v-btn
					>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogEditStore" max-width="500px" persistent>
			<v-card>
				<v-card-title>
					{{ selectedStore.name }}
				</v-card-title>
				<v-card-text>
					<v-container>
						<v-col>
							<v-row cols="12" sm="6" md="4">
								<v-text-field
									v-model="selectedStore.name"
									label="product name"
									id="product-name-field"
								></v-text-field>
							</v-row>
							<v-row cols="12" sm="6" md="4">
								<v-text-field
									v-model="selectedStore.desc"
									label="description"
									id="product-description-field"
								></v-text-field>
							</v-row>
						</v-col>
					</v-container>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						color="blue darken-1"
						text
						@click="close"
						id="cancel-button"
						>Cancel</v-btn
					>
					<v-btn
						color="blue darken-1"
						text
						@click="updateStore"
						id="update-button"
						>Update</v-btn
					>
					<v-btn
						color="error"
						text
						@click="deleteStore"
						id="delete-button"
						>Delete</v-btn
					>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogAddItem" max-width="500px" persistent>
			<v-card>
				<v-card-title>
					{{ selectedStore.name }}
				</v-card-title>
				<v-col>
					<v-row cols="12" sm="6" md="4">
						<v-select
							class="ma-2"
							return-object
							:items="product_item"
							:menu-props="{ top: true, offsetY: true }"
							v-model="selectItem"
							item-text="name"
							label="Select an item"
							item-disabled="customDisabled"
							@click="getSelectedItemProduct"
						>
							<template v-slot:item="{ item, attrs, on }">
								<v-list-item
									v-bind="attrs"
									v-on="on"
									:id="'product_id_' + item.product_id"
								>
									<v-list-item-content>
										<v-list-item-title
											:id="attrs['aria-labelledby']"
											v-text="item.name"
										></v-list-item-title>
									</v-list-item-content>
								</v-list-item>
							</template>
						</v-select>
					</v-row>
					<v-row class="ma-2" cols="12" sm="6" md="4">
						<v-col>
							<v-card-text>quantity : </v-card-text>
						</v-col>
						<v-col>
							<v-text-field
								id="quantity-field"
								v-model="quantity"
								type="number"
								:rules="[numberRule]"
							>
							</v-text-field>
						</v-col>
					</v-row>
				</v-col>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						color="blue darken-1"
						text
						@click="close"
						id="close-button"
						>Cancel</v-btn
					>
					<v-btn
						color="blue darken-1"
						text
						@click="addItemButton"
						id="addItem-button"
						>Add Item</v-btn
					>
					
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogEditItem" max-width="500px" persistent>
			<v-card>
				<v-card-title> Item: {{ editedItem.name }} </v-card-title>
				<v-card-text> name: {{ editedItem.name }}</v-card-text>
				<v-card-text> price: {{ editedItem.price }}</v-card-text>
				<v-card-text> description: {{ editedItem.desc }}</v-card-text>
				<v-card-text> tags: {{ toStringTags }}</v-card-text>
				<v-card-text>
					quantity:
					<v-text-field
						v-model="editedItem.quantity"
						type="number"
						:rules="[numberRule]"
					>
					</v-text-field>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="blue darken-1" text @click="close"
						>Cancel</v-btn
					>
					<v-btn color="blue darken-1" text @click="updateItem"
						>Update</v-btn
					>
					<v-btn color="error" text @click="deleteItem">Remove</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog v-model="dialogStoreToken" max-width="500px" persistent>
			<v-card>
				<v-card-title> Store: {{ selectedStore.name }} </v-card-title>
				<v-card-text> store id: {{ selectedStore.store_id }}</v-card-text>
				<v-card-text> token: {{ selectedStore.token }}</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="blue darken-1" text @click="close"
						>Close</v-btn
					>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-data-table
			item-key="product_id"
			v-model="selected"
			:headers="headers"
			:items="items"
			v-on:item-selected="handleSelection"
			class="elevation-1"
		>
			<template v-slot:item.actions="{ item }">
				<v-icon
					small
					class="ml-3"
					@click="editItem(item)"
					v-bind:id="'editItem-' + item.product_id"
				>
					mdi-pencil
				</v-icon>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import axios from "axios";

export default {
	data: () => ({
		numberRule: (v) => {
			if (!isNaN(parseInt(v)) && v >= 0) return true;
			return "Number has to be more than 0";
		},
		isSelectedStore: false,
		dialogNewStore: false,
		dialogEditStore: false,
		dialogAddItem: false,
		dialogEditItem: false,
		dialogStoreToken: false,
		auth: {
			headers: {
				Authorization: "Bearer " + localStorage.getItem("access_token"),
				"Content-Type": "text/plain",
			},
		},
		storeList: [],
		selectedStore: {},
		editedStore: {},
		defaultStore: {
			name: "",
			des: "",
		},
		headers: [
			{ text: "Name", value: "name" },
			{ text: "tag", value: "tags", sortable: false },
			{ text: "Price", value: "price" },
			{ text: "Quantity", value: "quantity" },
			{ text: "Actions", value: "actions", sortable: false },
		],
		items: [],
		product_item: [],
		SelectedItemStore: [],
		selected: [],
		selectItem: {
		},
		editedIndex: -1,
		editedItem: {
			product_id: "",
			name: "",
			price: 0,
			desc: "",
			tags: [],
			quantity: 0,
			item_id: "",
		},
		quantity: 0,
		disabledItems: [],
	}),
	computed: {
		formTitle() {
			return this.editedIndex === -1 ? "New Store" : "Edit Store";
		},
		toStringTags() {
			return this.editedItem.tags.join(", ");
		},
		
	},
	watch: {
		dialogEditStore: function() {
			this.getStoreById();
		},
		dialogStoreToken: function() {
			this.getStoreById();
		},
		dialogAddItem: function() {
			this.getProductList();
		},
	},
	methods: {

		editItem(item) {
			this.editedIndex = this.items.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogEditItem = true;
		},
		addItemButton() {
			this.addItemToStore();
			this.selectItem = {};
			this.quantity = 0;
			this.close();
		},
		updateItem() {
			this.updateQuantityByItemId();
			this.close();
		},
		deleteItem() {
			confirm(
				"Are you sure you want to delete " + this.editedItem.name
			) && this.deleteItemById();
			this.close();
		},
		deleteStore() {
			confirm(
				"Are you sure you want to delete " + this.selectedStore.name
			) && this.deleteStoreById();
			this.close();
		},
		updateStore() {
			this.updateStoreById();
			this.close();
		},
		close() {
			this.disabledItems = []
			this.product_item = []
			this.dialogStoreToken = false;
			this.dialogNewStore = false;
			this.dialogEditStore = false;
			this.dialogAddItem = false;
			this.dialogEditItem = false;
			setTimeout(() => {
				this.editedStore = Object.assign({}, this.defaultStore);
				this.editedIndex = -1;
			}, 300);
			this.getStoreList();
		},

		save() {
			if (this.editedIndex > -1) {
				console.log("edit");
			} else {
				this.createStore();
			}
			this.close();
		},
		getSelectedItemProduct: function() {
			
			for(let i in this.items) {
				this.disabledItems.push(this.items[i])
			}


			this.product_item.map(item => {
				for(let i in this.disabledItems) {
					if(this.disabledItems[i].product_id.includes(item.product_id)){
						item['customDisabled'] = true;
				}
				}
			})

		},
		selectedStoreMethod: function() {
			this.selected = Object.assign({}, this.SelectedItemStore);
		},
		getProductList: function() {
			axios
				.get("https://golem.company/api/v1/product", {
					headers: this.auth.headers,
				})
				.then((res) => {
					this.product_item = [];
					for (var i in res.data.result) {
						this.product_item.push(res.data.result[i]);
					}
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		getStoreList: function() {
			axios
				.get("https://golem.company/api/v1/store", {
					headers: this.auth.headers,
				})
				.then((res) => {
					this.storeList = [];
					for (var i in res.data.result) {
						this.storeList.push(res.data.result[i]);
					}
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		getSelectedItemStore: function() {
			axios
				.get(
					"https://golem.company/api/v1/store/" +
						this.selectedStore +
						"/item",
					{
						headers: this.auth.headers,
					}
				)
				.then((res) => {
					this.items = [];
					for (var i in res.data.result) {
						this.items.push(res.data.result[i]);
						
					}
					this.isSelectedStore = true;
					this.getSelectedItemProduct();
	
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		createStore: function() {
			axios
				.post(
					"https://golem.company/api/v1/store",
					{
						name: this.editedStore.name,
						desc: this.editedStore.desc,
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
						},
					}
				)
				.then(() => {
					this.getStoreList();
				});
		},
		getStoreById: function() {
			axios
				.get(
					"https://golem.company/api/v1/store/" + this.selectedStore,
					{
						headers: this.auth.headers,
					}
				)
				.then((res) => {
					this.selectedStore = [];
					this.selectedStore = res.data.result;
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		updateStoreById: function() {
			axios
				.patch(
					"https://golem.company/api/v1/store/" +
						this.selectedStore.store_id,
					{
						name: this.selectedStore.name,
						desc: this.selectedStore.desc,
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
							Cookie: this.selectedStore.token,
						},
					}
				)
				.then(() => {
					this.getStoreList();
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		deleteStoreById: function() {
			axios
				.delete(
					"https://golem.company/api/v1/store/" +
						this.selectedStore.store_id,
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							Cookie: this.selectedStore.token,
						},
					}
				)
				.then(() => {
					this.isSelectedStore = false;
					this.getStoreList();
				});
		},
		deleteItemById: function() {
			axios
				.delete(
					"https://golem.company/api/v1/store/" +
						this.selectedStore +
						"/item/" +
						this.editedItem.item_id,

					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							Cookie: this.selectedStore.token,
						},
					}
				)
				.then(() => {
					this.getSelectedItemStore();
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		addItemToStore: function() {
			axios
				.post(
					"https://golem.company/api/v1/store/" +
						this.selectedStore +
						"/item",
					{
						product_id: this.selectItem.product_id,
						quantity: parseInt(this.quantity),
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
						},
					}
				)
				.then(() => {
					this.getSelectedItemStore();
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		updateQuantityByItemId: function() {
			axios
				.patch(
					"https://golem.company/api/v1/store/" +
						this.selectedStore +
						"/item/" +
						this.editedItem.item_id,
					{
						quantity: parseInt(this.editedItem.quantity),
					},
					{
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
							"Content-Type": "application/json",
						},
					}
				)
				.then(() => {
					this.getSelectedItemStore();
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		handleSelection: function(val) {
			console.log(val.item.product_id);
		},
	},
	mounted() {
		this.getStoreList();
	},
};
</script>
