<template>
	<div>
		<v-col class=" pt-2" cols="12" sm="6">
			<v-select
				:items="storeList"
				item-text="name"
				item-value="store_id"
				label="store list"
				v-model="selectedStore"
				id="store-list"
				outlined
				permanent
				@change="getTransactionListByStoreId"
			>
				<template v-slot:item="{ item, attrs, on }">
					<v-list-item
						v-bind="attrs"
						v-on="on"
						:id="'store_id_' + item.store_id"
					>
						<v-list-item-content>
							<v-list-item-title
								:id="attrs['aria-labelledby']"
								v-text="item.name"
							></v-list-item-title>
						</v-list-item-content>
					</v-list-item>
				</template>
			</v-select>
			<v-spacer></v-spacer>
		</v-col>

		<v-dialog v-model="dialog" max-width="600px" persistent>
			<v-card>
				<v-card-title>
					Transanction: {{ viewTrans.transaction_id }}</v-card-title
				>
				<v-card-text>
					Transanction date: {{ callDate(viewTrans.timestamp) }}
				</v-card-text>
				<template>
					<v-simple-table>
						<template v-slot:default>
							<thead>
								<tr>
									<th class="text-left">Product Name</th>
									<th class="text-left">Price</th>
									<th class="text-left">Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr
									v-for="item in dataItem"
									:key="item.product_id"
								>
									<td>{{ item.name }}</td>
									<td>{{ item.price }}</td>
									<td>{{ item.quantity }}</td>
								</tr>
							</tbody>
						</template>
					</v-simple-table>
				</template>
				<v-card-subtitle class="text-right"
					>Total: {{ this.viewTrans.price }}</v-card-subtitle
				>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="blue darken-1" text @click="close" id="close-button"
						>Close</v-btn
					>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-data-table
			:headers="header"
			:items="transactionList"
			class="elevation-1"
		>
			<template v-slot:item.timestamp="{ item }">
				<span>{{ callDate(item.timestamp) }}</span>
			</template>
			<template v-slot:item.actions="{ item }">
				<v-icon small class="ml-3" @click="viewItem(item)" v-bind:id="'view-trans-'+item.transaction_id">
					mdi-pencil
				</v-icon>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
	data() {
		return {
			dialog: false,
			storeList: [],
			selectedStore: {},
			transactionList: [],
			selected: {},
			viewTrans: {},
			auth: {
				headers: {
					Authorization:
						"Bearer " + localStorage.getItem("access_token"),
					"Content-Type": "text/plain",
				},
			},
			header: [
				{ text: "Issue Time", value: "timestamp" },
				{ text: "Transaction Id", value: "transaction_id" },
				{ text: "Price", value: "price" },
				{ text: "Actions", value: "actions", sortable: false },
			],
			itemHeaders: [
				{
					text: "test",
					align: "start",
					value: "product_id",
				},
				{ text: "product id", value: "product_id" },
			],
			dataItem: [],
		};
	},
	watch: {
		dataItem: function() {
			this.mapquantity();
		}
	},
	methods: {
		callDate(date) {
			return moment(date + " Z", "YYYY-MM-DD HH:mm:ss Z")
				.local()
				.format("DD-MM-YYYY HH:mm:ss");
		},
		close() {
			this.dialog = false;
		},
		viewItem: function(item) {
			this.dataItem = [];
			this.viewTrans = Object.assign({}, item);
			for (item in this.viewTrans.items) {
				this.getProductItemById(this.viewTrans.items[item].product_id);
			}
			this.dialog = true;
		},
		mapquantity: function() {
			this.dataItem.map((item) => {
				for (let i in this.viewTrans.items) {
					if (this.viewTrans.items[i].product_id.includes(item.product_id)) {
						this.dataItem[i]["quantity"] = this.viewTrans.items[i].quantity;
					}
				}
			});
		},
		getStoreList: function() {
			axios
				.get("https://golem.company/api/v1/store", {
					headers: this.auth.headers,
				})
				.then((res) => {
					this.storeList = [];
					for (var i in res.data.result) {
						this.storeList.push(res.data.result[i]);
					}
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		getTransactionListByStoreId: function() {
			axios
				.get(
					"https://golem.company/api/v1/transaction?storeId=" +
						this.selectedStore,
					{
						headers: this.auth.headers,
					}
				)
				.then((res) => {
					this.transactionList = [];
					for (var i in res.data.result) {
						this.transactionList.push(res.data.result[i]);
					}
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
		getProductItemById: function(id) {
			axios
				.get("https://golem.company/api/v1/product/" + String(id), {
					headers: this.auth.headers,
				})
				.then((response) => {
					this.dataItem.push(response.data.result);
				})
				.catch((err) => {
					console.log(err.response);
				});
		},
	},
	mounted() {
		this.getStoreList();
	},
};
</script>
