<template>
	<v-container>
		<v-navigation-drawer permanent v-model="drawer" :color="color" dark app>
			<v-list dense nav class="py-0">
				<v-list-item two-line>
					<v-list-item-avatar>
						<img :src="userinfo.picture" />
					</v-list-item-avatar>

					<v-list-item-content>
						<v-list-item-title>{{
							userinfo.email
						}}</v-list-item-title>
						<v-btn
							small
							color="primary"
							@click="auth0Login"
							id="login-button"
							v-if="!this.$store.state.userIsAuthorized"
							>login</v-btn
						>
						<v-btn
							small
							color="primary"
							@click="logout"
							id="logout-button"
							v-if="this.$store.state.userIsAuthorized"
							>logout</v-btn
						>
					</v-list-item-content>
				</v-list-item>
			</v-list>
			<v-divider></v-divider>

			<v-list dense nav class="py-0">
				<v-list-item
					v-for="item in items"
					:key="item.name"
					:to="item.route"
					:id="item.title + '-navbar-button'"
					exact
				>
					<v-list-item-icon>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-icon>

					<v-list-item-content>
						<v-list-item-title>{{ item.title }}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
	</v-container>
</template>

<script>
import axios from "axios";

export default {
	data() {
		return {
			userinfo: {
				picture:
					"",
				email: "Please Login to GPOS",
			},
			drawer: true,
			items: [
				
				{ title: "Store", icon: "mdi-view-dashboard", route: "/store" },
				{
					title: "Product",
					icon: "mdi-clipboard-list",
					route: "/product",
				},
				{
					title: "Transanction",
					icon: "mdi-help-box",
					route: "/transanction",
				},
			],
			color: "primary",
		};
	},
	computed: {
		computedItems() {
			return this.items.map(this.mapItem);
		},
	},
	methods: {
		auth0Login() {
			this.$store.dispatch("auth0Login");
			console.log("we are in auth0Login");
		},
		logout() {
			this.$store.dispatch("auth0Logout");
			console.log("logging out");
		},

		getUserInfo() {
			if (this.$store.state.userIsAuthorized) {
				axios
					.get("https://dev--p6hnny0.auth0.com/userinfo", {
						headers: {
							Authorization:
								"Bearer " +
								localStorage.getItem("access_token"),
						},
					})
					.then((response) => {
						this.userinfo = response.data;
					})
					.catch((err) => {
						console.log(err.response);
					});
			}
		},
	},
	mounted() {
		this.getUserInfo();
		
	},
};
</script>
