<template>
	<div>
		<v-text-field
			label="tags"
			v-model="tags"
			id="tag-field"
			@keydown.enter="addTags()"
		></v-text-field>
		<ul>
			<li v-for="(name, index) in editedItem" :key="index">
				{{ name }}
				<button @click="deleteTag(index)" v-bind:id="'remove-tag-index-'+index" style="color:black">x</button>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		editedItem: {
			type: Array,
			default: () => [],
		},
	},
	data: () => ({
		item: 1,
		tags: "",
		activator: null,
		attach: null,
		colors: ["grey"],
		editing: null,
		index: -1,
		items: [
			{ header: "Select an option or create one" },
			{
				text: "Foo",
			},
			{
				text: "Bar",
			},
		],
	}),
	methods: {
		test() {
			console.log(this.editedItem);
		},
		addTags() {
			this.editedItem.push(this.tags);
			this.tags=""
			this.check = true;
		},
		deleteTag(index) {
			this.editedItem.splice(index, 1);
			console.log("delete: " + index);
		},
		edit(index, item) {
			if (!this.editing) {
				this.editing = item;
				this.index = index;
			} else {
				this.editing = null;
				this.index = -1;
			}
		},
		filter(item, queryText, itemText) {
			if (item.header) return false;

			const hasValue = (val) => (val != null ? val : "");

			const text = hasValue(itemText);
			const query = hasValue(queryText);

			return (
				text
					.toString()
					.toLowerCase()
					.indexOf(query.toString().toLowerCase()) > -1
			);
		},
	},
};
</script>
