<template>
  <v-app v-if="this.$store.state.userIsAuthorized" >
      <NavBar/>
      <CoreView />

  </v-app>
</template>

<script>
  export default {
    name: 'Index',

    components: {
      NavBar: () => import('./dashboard/navbar'),
      CoreView: () => import('./View')
    },

    data: () => ({
    }), 
    created() {
      if(!this.$store.state.userIsAuthorized) {
        this.$store.dispatch("auth0Login");
      }
    },
  }
</script>
